.containerdos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    position: relative;
    width: fit-content;
    right: 17%;
}

.containerdos input{
    width: 350px;
    padding: 10px;
    padding-right: 45px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
}

.containerdos button{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #FF5014;
    padding: 10px 15px;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

.containerdos button:hover{
    background-color: rgba(0,0,0,.2);
}